script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "#{siteTitle}",
    "url": "#{siteURL}",
    "sameAs": "https://thefpl.us/also-made/damn-dog",
    "alternateName": "The wikiHow Illustration Game",
    "image": "#{siteURL}/img/og-image.png",
    "playMode": "SinglePlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "genre": "guessing game",
    "description": "#{description}",
    "inLanguage": "English",
    "author": {
      "@type": "Person",
      "name": "Lemon",
      "url": "https://ahoylemon.xyz",
      "sameAs": [
        "https://thefpl.us/meet/lemon",
        "https://twitter.com/AhoyLemon"
      ]
    },
    "publisher": {
      "@type": "PerformingGroup",
      "name": "The F Plus",
      "url": "https://thefpl.us"
    },
    "offers": {
      "@type": "Offer",
      "description": "free",
      "price": "0",
      "priceCurrency": "USD"
    },
    "screenshot": [
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/screenshots/ss1.jpg",
        "width": "800",
        "height": "800"
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/screenshots/ss2.jpg",
        "width": "600",
        "height": "745"
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/screenshots/ss3.jpg",
        "width": "898",
        "height": "757"
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/screenshots/ss4.jpg",
        "width": "444",
        "height": "747"
      }
    ],
    "reviews": [
      {
        "name": "Tumblr",
        "url": "https://lunulata.tumblr.com/post/142591221607/this-is-a-good-game-because-these-are-all-real",
        "author": "lunulata"
      },
      {
        "name": "Rock Paper Shotgun",
        "url": "https://www.rockpapershotgun.com/2016/04/11/wikihow-game/",
        "author": "Adam Smith"
      },
      {
        "name": "Destructoid",
        "url": "http://www.destructoid.com/it-s-surprisingly-difficult-to-guess-wikihow-articles-based-on-header-images-354627.phtml",
        "author": "Darren Nakamura"
      },
      {
        "name": "Kotaku UK",
        "url": "http://www.kotaku.co.uk/2016/04/11/the-wikihow-illustration-game-made-me-spray-tea-through-my-nose",
        "author": "Julian Benson"
      },
      {
        "name": "Daily Dot",
        "url": "http://www.dailydot.com/lol/damn-dog-wikihow-illustration-guessing-game/",
        "author": "Jay Hathaway"
      },
      {
        "name": "Gizmodo",
        "url": "http://www.gizmodo.com.au/2016/04/the-best-game-on-the-internet-is-all-about-weird-wikihow-illustrations/",
        "author": "Hayley Williams"
      }
    ],
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "6"
    },
    "award": "The Best Game On The Internet -Gizmodo"
  }
