// Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:creator" content="@AhoyLemon")
meta(name="twitter:site" content="@AhoyLemon")
meta(name="twitter:title" content=siteTitle)
meta(name="twitter:description" content=description)
meta(name="twitter:image" content=siteURL+"/img/twitter-card.png")
meta(name="twitter:url" content=siteURL)

// OpenGraph
meta(property="og:title" content=siteTitle)
meta(property="og:type" content="website")
meta(property="og:url" content=siteURL)
meta(property="og:image" content=siteURL+"/img/og-image.png")
meta(property="og:description" content=description)
meta(property="og:email" content="lemon@thefpl.us")