include arrays.jade

mixin title()
  - var r = Math.floor((Math.random() * titles.length));
  span= titles[r]
    
mixin byline()
  - var ra = Math.floor((Math.random() * authors.length));
  .byline
    | Posted by 
    span.author= authors[ra]
    |  on 
    +date

mixin date()
  - var mr = Math.floor((Math.random() * months.length));
  - var dr = Math.floor((Math.random() * days.length));
  time
    span.month= months[mr]
    | 
    span.day= days[dr]
    | , 
    span.year 2016


mixin lipsum(i)
  - var x = 0
  if i
    - var n = i
  else 
    - var n = 1
  while x < n
    - var r = Math.floor((Math.random() * paragraphs.length));
    p= paragraphs[r]
    - x++

mixin tags(i)
  - var x = 0
  if i
    - var n = i
  else 
    - var n = 1
  .news-tags
    label TAGS:
    while x < n
      - var r = Math.floor((Math.random() * tags.length));
      span.tag= tags[r]
      - x++
    
mixin topnavLink(title, url)
  if url
    a.page(href="#{url}.html")
      .child
        span= title
  else
    a.page
      .child
        span= title

mixin service(name)
  - var r = Math.floor((Math.random() * 10));
  .service
    img.icon(src="svg/service-icon.svg")
    h3= name
    +lipsum(1)
    
-var clientNum = 0
mixin clientBox(name, url)
  - var w = 800 + clientNum
  - var h = 450 + clientNum
  - clientNum++
  a.client(style="background-image:url(https://unsplash.it/#{w}/#{h})" href="#{url}.html")
    .blacksheet
    .child
      span.name= name
      .redline
      if block
        .tags
          block
          
-var employeeNum = 0
mixin employee(name, url)
  - var w = 533 + employeeNum
  - var h = 300 + employeeNum
  - employeeNum++
  a.flex-pic.third.hover-effect(style="background-image:url(https://unsplash.it/#{w}/#{h})", href="#{url}.html")
    .blacksheet
    .name
      .child= name
      
mixin trophy(name)
  .trophy
    img(src="svg/logos/mohawk.svg")
    
- var caseStudyNum = 0
mixin caseStudy(name)
  - var w = 1600 + caseStudyNum
  - var h = 350 + caseStudyNum
  - caseStudyNum++
  figure.case-study-link(style="background-image:url(https://unsplash.it/#{w}/#{h})" data-for="#{name}")
    .blacksheet
    figcaption
      .child= name
  article.case-study(data-holds="#{name}")
      section.stripe.offwhite
        .inner
          h2 #{name} Case Studies
          h3 The Challenge
          - r = Math.floor((Math.random() * 3) + 1);
          +lipsum(r)
      section.stripe.white
        .inner
          h3 Our Apprach
          - r = Math.floor((Math.random() * 3) + 1);
          +lipsum(r)
      - r = Math.floor((Math.random() * 10) + 1);
      +csPics(r)
      section.stripe.white
        .inner
          h3 The Solution
          - r = Math.floor((Math.random() * 3) + 1);
          +lipsum(r)
          - var cr = Math.floor((Math.random() * chartTypes.length));
          - var type = chartTypes[cr]
          img.chart(src="http://www.chartholdr.io/#{type}/800/450/c=b22028")
      
mixin csPics(n)
  - var x = 0
  section.stripe.white.carousel
    .slides.case-study-slides
      while x < n
        - var w = Math.floor((Math.random() * 600) + 300);
        - var h = Math.floor((Math.random() * 600) + 300);
        .slide
          .image-wrapper
            .child
              img(src="https://unsplash.it/#{w}/#{h}")
        - x++
  